:root{
    --color-acento: rgb(244, 128, 0);
    --color-acento-claro: #ee613033;
    --color-texto: black;
}
body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
h3, p{
    margin: 5px;
}
.escondido{
    display: none;
}
a{
    background-color: unset;
    border: unset;
    cursor: pointer;
    text-decoration: none;
    transition: 200ms;
    color: var(--color-texto);
    font-size: 35px;
}
button{
    transition: 200ms;
}
a:hover:not(#cart), button:hover{
    color: var(--color-acento);
}
header{
    box-shadow: 1px 3px 5px black;
    margin-bottom: 10px;
    font-size: larger;
    background-color: rgb(240, 219, 205);
}
header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}
#logo{
    height: 100px;
    margin: 50px;
}
header nav div{
    display: flex;
    align-items: center;
    gap: 40px;
}
header nav img{
    height: 60px;
}
#cuenta-carrito{
    position: absolute;
    background-color: var(--color-acento);
    border-radius: 100%;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    aspect-ratio: 1;
    text-align: center;
    /*margin-bottom: 15px;*/
    font-size: 20px;
}
footer{
    text-align: center;
    box-shadow: -1px -3px 5px black;
    padding-top: 2px;
    margin-top: auto;
    font-weight: bold;
    background-color: rgb(236, 138, 69);
}
footer a{
    text-decoration: underline;
    font-size: 15px;
}